<section style="margin-top:-25px">
  <h1>Ad</h1>
  <div id="ad_mumumu_github_io_320_250" style="margin-left:-18px">
<script type="text/javascript">var kauli_yad_js_count = typeof(kauli_yad_js_count) == 'undefined' ? 1 : kauli_yad_js_count + 1;(function(d){ d.write('<span id="kauli_yad_js_' + kauli_yad_js_count + '" style="width:300px; height:250px; display:inline-block"><' + '!--43966--' + '>'); var src = 'http://js.kau.li/ssp.js?count=' + kauli_yad_js_count; d.write('<scr' + 'ipt type="text/javascript" src="' + src + '"></scr' + 'ipt>'); d.write('</span>');})(document);</script>
  </div>
</section>

