<!--
<section>
  <h1>My Favorite Sites</h1>
  <ul id="favorite_sites">
      <li class="post">
        <a href="http://github.com">Github - Social coding!</a>
      </li>
      <li class="post">
        <a href="http://producingoss.com">Producing Open Source Software</a>
      </li>
      <li class="post">
        <a href="http://oreilly.com">Oreilly Media</a>
      </li>
      <li class="post">
        <a href="http://www.kde.org/">K Desktop Environment</a>
      </li>
      <li class="post">
        <a href="http://www.python.org/">Python Programming Language – Official Website</a>
      </li>
      <li class="post">
        <a href="http://www.php.net/">PHP - HyperText Preprocessor</a>
      </li>
      <li class="post">
        <a href="http://konversation.kde.org/">Konversation - User friendly IRC Client</a>
      </li>
  </ul>
</section>
-->
